@media only screen and (max-width:600px) {
  .layout {
    width: 320px;
    margin: 0 auto;
  }
  section {
    width: 100%;
  }
  .screen1 {
    position: relative;
    z-index: 100;
  }

  .top-menu {
    position: relative;
  }
  .logo, .menu, .lang-menu {
    float: none;
  }
  .top-menu {

  }
  .burger-menu {
    width: 31px;
    height: 25px;
    position: absolute;
    right: 24px;
    top: 50px;
    z-index: 989999;
  }
  .burger-menu:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  .burger-menu span {
    width: 100%;
    display:block;
    height: 3px;
    background: #fff;
    margin-bottom: 8px;
  }
  .burger-menu span:last-child {
    margin: 0;
  }
  .clearfix {
    overflow: visible;
  }

  .screen1 h2 {
    width: 269px;
    margin: 56px auto 81px;
    font-size: 27px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.27px;
  }

  .screen1 h2 span:after {
    height: 0;
  }
  .screen1 .ticket, .screen1 .pager {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: auto auto 21px;
    width: 276px;
  }
  .screen1 .pager {

    margin-bottom: 100px;
  }
  .logo, .menu, .lang-menu {
    float: none;
    margin-top: 0px;
  }
  .logo {
    margin-left: 26px;
  }
  .top-menu {
    padding-top: 29px;
  }
  .menu {
    margin-left: auto;
    margin-right: auto;

    line-height: 2;
  }
  .lang-menu {
    position: absolute;
    top:50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .mobile-menu {
   top: -1000px;
    padding-top: 120px;
    position: absolute;
    background: #03081f;
    width: 320px;
    z-index: 99999;
    padding-bottom: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s ;
    -ms-transition: all .5s ;
    -o-transition: all .5s ;
    transition: all .5s ;
  }
  .fixed {
    position: fixed;
  }
  .logo {
    position: relative;
    z-index: 199999;
  }
  .menu-opened {
      top: 0;
     }
  .lang-menu a {
    margin-left: 30px;

  }
  .menu {
    margin-left: 0px;
    margin-right: 0px;
  }
  .menu a {
    margin-left: auto;
    display: block;
    text-align: center;
  }
  .menu a:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
  }
  .menu a:nth-child(5) {
    margin-left: auto;
    margin-right: auto;
  }
  .menu a:first-of-type, .lang-menu a:first-of-type {
    margin-left: auto;
  }
  .problem {
    width: 320px;
    height: auto;
    margin: 0 auto;
    padding: 41px 26px;
  }

  .problem-block {
    float: none;
    padding-right: 40px;
  }

  .problem-block:first-of-type {
    width: 300px;
    margin-bottom: 86px;
  }

  .problem-block h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-align: center;
  }

  .problem-block p {
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.9px;

  }

  .problem-block:nth-child(2) {
    width: 300px;
    margin-left: 0px;

  }

  .screen2 {
    background: url(../img/map.png) -540px 750px no-repeat;
    width: 100%;
    margin: 0 auto;
  }

  .map-bg {

    margin-top: 32px;
  }

  .map-block h2 {
    text-align: center;
    margin-bottom: 37px;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.48px;
  }

  .map-block p {
    width: 265px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.9px;
  }
  .info-icon {
    display: none !important;
  }

  .map-block:first-of-type {
    margin-bottom: 45px;
  }

  .map-block:nth-child(2) {
    margin-bottom: 15px;
  }

  .title h2 {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0.36px;
  }

  .title .shadow-title {
    display: none;

  }

  .token {
    width: 100%;
    margin: 90px auto 0;
    background: url(../img/triangle.png) -440px 0px no-repeat;
  }

  .token .title h2 {
    margin-bottom: 41px;
  }

  .token-col {
    float: none;

  }

  .token-col1 {
    margin-right: 0px;
  }

  .token-col h4 {
    font-size: 30px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.3px;
    margin-bottom: 47px;
  }
  .token-block {
    width: 320px;
    height: auto;
    opacity: 0.8;
    padding: 22px 28px 33px 25px;
    margin-bottom: -5px;
  }

  .token-block2 {
    padding: 20px 28px 23px 25px
  }

  .token-block p {
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    /* Text style for "StudCoin я" */
    letter-spacing: 0.18px;
  }
  .hidden-rollup {
    display:inline;
  }
  .hidden-cont {
    display: none;
    overflow: hidden;
  }
  .sheme {
    width: 320px;
  }

  .sheme-cont {
    text-align: center;
    float: left;
    margin-bottom: 60px;
    margin-left: 0px;

  }
  .sheme-cont:first-of-type {
    width: 72px;
  }
  .sheme-cont:nth-child(2) {
    width: 98px;
    margin-left: 50px;
  }
  .sheme-cont:nth-child(3) {
    width: 63px;
    margin-left: 26px;
  }
  .sheme-cont:nth-child(4) {
    width: 92px;
  }
  .sheme-cont:nth-child(5) {
    width: 105px;
  }
  .sheme-cont6 {
    width: 140px !important;
    margin-left: 12px!important;
    margin-top: 58px;
  }
  .sheme-cont7 {
    width: 122px !important;
    margin-left: 22px !important;
    margin-top: 50px;
  }
  .sheme-cont8 {
    width: 178px !important;
    margin-top: 70px;
  }
  .sheme-img-cont {
    width: 100% !important;

  }
  .sheme-cont p {
    width: 100%;
    color: #fefefe;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.18px;
    text-align: center;
  }

  .sheme-cont:first-of-type, .sheme-cont:nth-child(4) {
    margin-left: 0;
  }

  .sheme-img-cont {
    width: 100%;
    height: 59px;
    margin-bottom: 8px;
  }

  .sheme-img-cont img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .sheme-img-cont1.arrow-down:before {
   left: -33px;
  }
  .sheme-img-cont1 img {
    width: 31px;
    height: 35px;
    margin-left: 8px;

  }
  .sheme-img-cont2 img {
    width: 38px;
    height: 21px;
    top: 30px;

  }
  .sheme-img-cont3 img {
    width: 39px;
    height: 16px;
    top: 25px;
  }
  .sheme-img-cont4 img {
    width: 45px;
    height: 27px;

  }
  .label-head {
    margin-left: 18px;
  }
  .sheme-img-cont4 {
    margin-left: -12px !important;
  }
  .sheme-img-cont5 img {
    width: 75px;
    height: 16px;
  }
  .sheme-cont6 img {
    width: 56px;
    height: 59px;
  }
  .sheme-cont7 img {
    width: 60px;
    height: 46px;
  }
  .sheme-cont8 img {
    width: 115px;
    height: 24px;
  }
  .sheme-img-cont1  {
    margin-left: 16px;
  }
  .sheme-img-cont2  {
    margin-left: 50px;
  }
  .sheme-img-cont3  {
    margin-left: 16px;
  }
  .sheme-img-cont4  {
    margin-left: 16px;
  }
  .sheme-img-cont5  {
    margin-left: 115px;
    margin-bottom: 36px;
  }
  .arrow-right:after, .right-small:after {
    width: 64px;
    height: 15px;
    background: url(../img/arrow-right.png) center no-repeat;
    background-size: contain;
    position: absolute;
    right: -55px;
    bottom: 10px;
  }

  .arrow-down:before {
    content: '';
    width: 15px;
    height: 58px;
    background: url(../img/arrow-down-mobi.png) center no-repeat;

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -140px;
  }
  .sheme-img-cont3 ,arrow-down:before {
    bottom: -155px;
  }

  .right-top:after {
    width: 53px;
    height: 53px;
    background: url(../img/right-top.png) center no-repeat;
    background-size: cover;
    top: -22px;
    left: 100px;
  }
  .right-small:after {
    background: url(../img/right-small-mobi.png) center no-repeat;
    right: -37px;
  }

  .arrow-top:after {
    position: absolute;
    content: '';
    width: 28px;
    height: 130px;
    background: url(../img/arrow-top.png) center no-repeat;
    left: -40px;
    top: -110px;
    right: 0;
    margin: auto;
  }

  .sheme-img-cont1 {
    width: 172px;
  }

  .sheme-img-cont2 {
    width: 177px;
  }

  .sheme-img-cont3 {
    width: 138px;
  }

  .sheme-img-cont3 .arrow-down:after {
    right: 20px;
    margin: auto;
    bottom: -220px;
  }
  .sheme-img-cont4 {
    width: 170px;
    margin-bottom: 1px;
  }
  .sheme-cont6 .arrow-right:after {
    right: -36px;
    top: 22px;
  }
  .sheme-cont8 .arrow-top:after {
    left: -100px;
    height: 106px;
    background-size: contain;
    top: -90px;
  }
  .token .ticket {
    margin-top: 42px;
    margin-bottom: 95px;
  }

  .screen-diagrams {
    background: url(../img/diagram-bg.png) center no-repeat;
  }

  .screen-diagrams .shadow-title {
    font-size: 141px;
    font-weight: 400;
    line-height: 130.01px;
    letter-spacing: 0.38px;
  }

  .token-diagram {
    margin-top: 0px;
    float: none;
    margin-bottom: 0px;
  }

  .token-diagram h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.3px;
    margin-top: 0px;
    position: relative;
    top: -70px;
  }

  .token-diagram1 {
    width: 329px;
    height: 179px;
    background: url(../img/diagram1.png) center bottom no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    margin-top: 121px;
  }

  .token-diagram1 h2 {
    margin-left: 0px;
  }

  .token-diagram2 {
    width: 268px;
    height: 99px;
    margin-top: 186px;
    background: url(../img/mobile-diag2.png) center  no-repeat;
    margin-left: 20px;
    margin-bottom: 502px;
  }

  .diag-text {
    font-size: 13px;
    font-weight: 300;
    line-height: 34.95px;
    letter-spacing: 0.9px;
  }

  .token-diagram1 .diag-text {
    top: -13px;
    left: 185px;
    margin-top: 0px;
  }

  .token-diagram2 h2 {
    margin-left: 0px;
  }
  .token-diagram2 .diag-text {
    display: none;
  }
  .token-diagram2 .diag-text1 {
    top: 255px;
    left: 12px;
  }

  .token-diagram2 .diag-text2 {
    top: 162px;
    left: 20px;
  }

  .token-diagram2 .diag-text3 {
    top: 110px;

    left: 67px;
  }

  .token-diagram2 .diag-text4 {
    top: 75px;

    left: 352px;
  }

  .token-diagram2 .diag-text5 {
    left: 380px;

    top: 130px;
  }

  .token-diagram2 .diag-text6 {
    top: 90px;

    left: 533px;
  }

  .token-diagram2 .diag-text7 {
    width: 418px;
    left: 120px;
    right: 0;
    margin: auto;
    top: 368px;
    letter-spacing: normal;
  }
  .diaram-mobi-text {
    margin-top: 117px;
    display: block;
  }
  .dia-mobi-text {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 22px;
    position: relative;
    margin-left: 48px;
  }
  .dia-mobi-text:last-child {
    margin-left: 12px;
    width: 250px;
    margin-top: 37px;

  }
  .dia-mobi-text:before {
    content: '';
    position: absolute;
    left: -37px;
    top: 0;
    width: 19px;
    height: 19px;
  }
  .dia-mobi-text:first-of-type:before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(-108deg, #5c27fe 0%, #c165dd 100%);
    background-image: -moz-linear-gradient(-108deg, #5c27fe 0%, #c165dd 100%);
    background-image: -webkit-linear-gradient(-108deg, #5c27fe 0%, #c165dd 100%);
    background-image: linear-gradient(-108deg, #5c27fe 0%, #c165dd 100%);
  }
  .dia-mobi-text:nth-child(2):before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(-225deg, #ffcb52 0%, #ff7b02 100%);
    background-image: -webkit-linear-gradient(-225deg, #ffcb52 0%, #ff7b02 100%);
    background-image: -moz-linear-gradient(-225deg, #ffcb52 0%, #ff7b02 100%);
    background-image: linear-gradient(-225deg, #ffcb52 0%, #ff7b02 100%);
  }
  .dia-mobi-text:nth-child(3):before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(-225deg, #2afeb7 0%, #08c792 100%);
    background-image: -moz-linear-gradient(-225deg, #2afeb7 0%, #08c792 100%);
    background-image: -webkit-linear-gradient(-225deg, #2afeb7 0%, #08c792 100%);
    background-image: linear-gradient(-225deg, #2afeb7 0%, #08c792 100%);
  }
  .dia-mobi-text:nth-child(4):before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(-225deg, #5581f1 0%, #1153fc 100%);
    background-image: -moz-linear-gradient(-225deg, #5581f1 0%, #1153fc 100%);
    background-image: -webkit-linear-gradient(-225deg, #5581f1 0%, #1153fc 100%);
    background-image: linear-gradient(-225deg, #5581f1 0%, #1153fc 100%);
  }
  .dia-mobi-text:nth-child(5):before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(-225deg, #facd68 0%, #fc76b3 100%);
    background-image: -moz-linear-gradient(-225deg, #facd68 0%, #fc76b3 100%);
    background-image: -webkit-linear-gradient(-225deg, #facd68 0%, #fc76b3 100%);
    background-image: linear-gradient(-225deg, #facd68 0%, #fc76b3 100%);
  }
  .dia-mobi-text:nth-child(6):before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(-108deg, #ab001e 0%, #0e3386 68%, #0e3386 100%);
    background-image: -moz-linear-gradient(-108deg, #ab001e 0%, #0e3386 68%, #0e3386 100%);
    background-image: -webkit-linear-gradient(-108deg, #ab001e 0%, #0e3386 68%, #0e3386 100%);
    background-image: linear-gradient(-108deg, #ab001e 0%, #0e3386 68%, #0e3386 100%);
  }

  .one-diagram {
    background: url(../img/light.png) center -100px no-repeat;

  }
  .diagram3 {
    width: 300px;
    height: 302px;
    margin: 68px auto 330px;
    background: url(../img/mobe-diagram3.png)  center no-repeat;
    position: relative;

  }
  .diagram3 .diag-text {
    display: none;
  }
  .diag3-mobi-text {
    display: block;
    padding-top: 340px;
    padding-left: 10px;
  }
  .diag3-mobi-text p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 22px;
    position: relative;
    margin-left: 48px;
  }
  .diag3-mobi-text p:before {
    content: '';
    position: absolute;
    left: -37px;
    top: 0;
    width: 19px;
    height: 19px;

  }
  .diag3-mobi-text p:first-of-type:before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(-108deg, #5c27fe 0%, #c165dd 100%);
    background-image: -moz-linear-gradient(-108deg, #5c27fe 0%, #c165dd 100%);
    background-image: -webkit-linear-gradient(-108deg, #5c27fe 0%, #c165dd 100%);
    background-image: linear-gradient(-108deg, #5c27fe 0%, #c165dd 100%);
  }
  .diag3-mobi-text p:nth-child(2):before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(-225deg, #ffcb52 0%, #ff7b02 100%);
    background-image: -moz-linear-gradient(-225deg, #ffcb52 0%, #ff7b02 100%);
    background-image: -webkit-linear-gradient(-225deg, #ffcb52 0%, #ff7b02 100%);
    background-image: linear-gradient(-225deg, #ffcb52 0%, #ff7b02 100%);
  }
  .diag3-mobi-text p:nth-child(3):before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(-9deg, #1bffff 0%, #2e3192 100%);
    background-image: -moz-linear-gradient(-9deg, #1bffff 0%, #2e3192 100%);
    background-image: -webkit-linear-gradient(-9deg, #1bffff 0%, #2e3192 100%);
    background-image: linear-gradient(-9deg, #1bffff 0%, #2e3192 100%);
  }
  .diag3-mobi-text p:nth-child(4):before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(-167deg, #0e3386 0%, #0e3386 32%, #00055c 100%);
    background-image: -moz-linear-gradient(-167deg, #0e3386 0%, #0e3386 32%, #00055c 100%);
    background-image: -webkit-linear-gradient(-167deg, #0e3386 0%, #0e3386 32%, #00055c 100%);
    background-image: linear-gradient(-167deg, #0e3386 0%, #0e3386 32%, #00055c 100%);
  }
  .diag3-mobi-text p:nth-child(5):before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(72deg, #6e0000 0%, #6e0000 9%, #ab001e 100%);
    background-image: -moz-linear-gradient(72deg, #6e0000 0%, #6e0000 9%, #ab001e 100%);
    background-image: -webkit-linear-gradient(72deg, #6e0000 0%, #6e0000 9%, #ab001e 100%);
    background-image: linear-gradient(72deg, #6e0000 0%, #6e0000 9%, #ab001e 100%);
  }
  .diag3-mobi-text p:nth-child(6):before {
    background-color: #ec008c;
    background-image: -o-linear-gradient(-156deg, #0e3386 0%, #0e3386 32%, #ab001e 100%);
    background-image: -moz-linear-gradient(-156deg, #0e3386 0%, #0e3386 32%, #ab001e 100%);
    background-image: -webkit-linear-gradient(-156deg, #0e3386 0%, #0e3386 32%, #ab001e 100%);
    background-image: linear-gradient(-156deg, #0e3386 0%, #0e3386 32%, #ab001e 100%);
  }

  .h2-info {
    display: inline-block;
    margin-top: -40px;
  }

  .map-block h2 {
    position: relative;
    display: inline-block;
  }
  .cell {
    width: 320px;
    margin: 0 auto;
    background: url(../img/cell-mobi.png) 0px 175px no-repeat;
    padding-top: 104px;
  }

  .diagram-desc p {
    margin-top: 39px;
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.18px;
  }
  .vitalic {
    color: #85b9ff;
    text-decoration: underline;
  }

  .diagram-desc-block2 {
    width: 251px;
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
    letter-spacing: 0.18px;
    margin: 54px auto 0;
  }

  .diagram-desc-block2 .ticket {
    width: 270px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 15px;

  }
  .diagram-desc-block1 {
    width: 249px;
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.18px;
    margin: 0 auto;
  }

  .team {
    padding-top: 0px;
    position: relative;
  }
  .team-cont {
    margin-top: -50px;
    margin-left: 35px;
  }
  .team-cont img {
    margin-left: -105px;
    margin-right: auto;
    margin-top: 111px;
  }

  .team p {
    position: relative;
    margin-top: 210px;
    margin-left: -9px;
    width: 258px;
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.18px;
  }
  .team p:before {
    left: -10px;
    top: -19px;
    z-index: -1;
  }

  .team p:after {
    top: 245px;
    right: -10px
  }

  .team img, .team p {
    float: none;
  }
  .team img {
    width: 380px;
    height: auto;
  }

  .team ul {
    top: 410px;
    left: 22px;
    right: 0;
    margin: auto;

  }

  .team li {
    font-size: 14px;
    font-weight: 400;

    line-height: 28px;
    letter-spacing: 0.14px;
  }
  .team li:nth-child(4) {
    max-width: 200px;
    line-height: 23px;
  }
  .team ul li:last-child {
    margin-top: 10px;
  }

  .team li h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 1.8px;
  }

  .team li a {
    display: block;
    width: 43px;
    height: 43px;
    background: url(../img/facebook.png) center no-repeat;
  }
  .team li.founder {
    font-size: 24px;
  }

  .video-img-cont {
    margin: 77px auto 0;
    width: 320px;
    height: 370px;
    background-size: cover;
    position: relative;
  }
  .video-img-cont .video {
    width: 100%;
    height: 300px;
  }

  .video-img-cont img {
    width: 68px;
    height: 67px;
  }

  .video-img-cont img:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .roadmap {
    margin-top: 100px;
  }

  .roadmap h2 {
    margin-bottom: 56px;
  }

  .roadmap-img {
    width: 189px;
    height: 1086px;
    margin-left: -18px;
    margin-right: auto;
    position: relative;
    /* left: -80px; */
    background: url(../img/roadmap-mob.png) center no-repeat;
    margin-top: 5px;

  }

  .quarter-cont, .roadmap-desc {
    width: 1170px;
    margin: 0 auto;
    position: relative;

  }

  .quarter-cont p, .roadmap-desc p {
    float: none;
    position: absolute;
    margin: auto;

  }

  .quarter-cont p, .roadmap-desc p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.18px;
    margin-bottom: 11px;
  }

  .roadmap-desc p {
    letter-spacing: -1px;
    line-height: 1.725;
  }

  .quarter-cont p:first-of-type {
    top: 200px;
    left: -31px;
  }

  .quarter-cont p:nth-child(2) {
    top: 394px;
    left: 54px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(3) {
    top: 579px;
    left: 55px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(4) {
    margin-top: 768px;
    left: 54px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(5) {
    margin-top: 970px;
    left: 47px;
    margin-left: 0;
  }
  .roadmap-desc p {
    width: 112px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.14px;
    line-height: 1.25;
  }
  .roadmap-desc p:first-of-type {
    width: 134px;
    margin-left: 0px;
    bottom: 885px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(2) {
    width: 120px;
    margin-left: 0px;
    bottom: 598px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(3) {
    width: 106px;
    margin-left: 0;
    bottom: 443px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(4) {
    margin-left: 0;
    width: 123px;
    bottom: 320px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(5) {
    width: 115px;
    margin-left: 0;
    left: 200px;
    bottom: 80px;
  }

  .people {
    margin-top: 40px;
  }
  .people-big-cont {
    position: relative;
    z-index: 10;
  }

  .people-cont {
    float: none;
  }

  .people-cont h3 {
    text-align: center;
    margin-top: -46px;
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.24px;
    height: 51px;
  }

  .people-cont p {
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.18px;
  }

  .img-cont {
    position: relative;
    width: 100%;
    height: 229px;
    margin-top: 7px;
  }

  .img-cont img {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }

  .people-cont:first-of-type {
    margin-left: 23px;
    margin-top: -32px;
  }
  .people-cont:nth-child(2) {
    margin-left: 18px;
    margin-top: -60px;

  }
  .people-cont:nth-child(2) h2 {
    margin-top: -35px;
    margin-bottom: 15px;
  }

  .people-cont:nth-child(3) {
    width: 237px;
    margin-left: 38px;
  }
  .people-cont:nth-child(3) h2 {
    margin-top: -30px;
    margin-bottom: 15px;
  }

  .people-cont:nth-child(4) {
    margin-left: 34px;
    margin-top: -10px;
  }
  .people-cont:nth-child(4) h2 {
margin-top: -37px;}

  .perspective-img {
    margin-top: 70px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 2111px;
    width: 331px;
    background: url(../img/perspective-mob.png);
  }

  .perspective {
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.9px;

    margin-top: 72px;;
  }
  .perspective h2 {
    line-height: 37px;
  }
  .perspective .shadow-title {
    top: -160px;
    font-size: 168px;
    font-weight: 400;
    line-height: 154.01px;
    letter-spacing: 0.45px;
  }

  .perspective-block {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

  }

  .perspective-cont-top {
    position: relative;
    z-index: 20;
    margin-top: -70px;
  }

  .perspective-cont-top .perspective-block:first-of-type {
    top: 1145px;
    left: 10px;
    width: 214px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(2) {
    width: 220px;
    left: 10px;
    top: 252px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(3) {
    width: 181px;
    left: 122px;
    top: 1322px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(4) {
    width: 184px;
    top: 1832px;
    left: 119px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(5) {
    width: 179px;
    top: 865px;
    text-align: right;
    left: 126px;

  }

  .perspective-cont-top .perspective-block:nth-child(6) {
    width: 169px;
    top: 633px;
    left: 10px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(7) {
    width: 229px;
    top: 433px;
    left: 80px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(8) {
    width: 190px;
    left: 12px;
    top: 1600px;
    text-align: left;
  }

  .news {
    margin-top: 86px;
  }
  .footer-block {
    float: none;

  }

  .footer-block:nth-child(2) {
    margin-left: 0px;
    margin-top: 38px;
  }

  .footer-block:nth-child(3) {
    margin-left: 0px;
    margin-top: 33px;

  }

  .footer-block:nth-child(3) a {
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    margin-left: 40px;
  }

  .slide {
    -webkit-box-shadow: none;
    -moz-box-shadow: none ;
    box-shadow: none ;
  }
  .slider .slide {

    margin-left: 12px;
    margin-right: 12px;
    float: none;
  }
  .footer-block:nth-child(3) a:first-of-type {

  }

  .footer-block:nth-child(3) a:nth-child(2) {
    margin-top: -2px;
  }

  .footer-block:nth-child(3) a:nth-child(3) {
    margin-right: 100px;
    margin-top: -2px;
  }

  .footer-block:nth-child(3) a:nth-child(4) {
    margin-left: -2px;
    margin-top: 24px;
  }

  .footer-block:nth-child(3) a:nth-child(5) {
    margin-top: 30px;
    margin-left: 35px;
  }

  .application {
    width: 320px;
    height: auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .application h2 {
    margin-left: auto;
    text-align: center;
  }
  label {
    font-size: 17px;
  }
  .application .radio {
    margin-right: 13px;
  }
  .input-inline {
    display: block;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
  }
  .comment {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }
  .close {
    position: absolute;
    width: 29px;
    height: 29px;
    background: url(../img/clos.png) center no-repeat;
    right: 5px;
    top: 5px;
  }
  .enroll {
    padding: 58px 12px 12px;
    width: 320px;
    height: auto;
  }
  .enroll h2 {
    font-size: 42px;
  }
  .enroll .ticket {
    left: 250px;
  }
  .enroll p {
    margin-left: -55px;
  }
  .enroll form {
    padding: 0;
  }
  .enroll .who {
    margin-left: 33px;
  }
  .enroll .input-inline1 {
    margin-right: 25px;
  }
  .select {
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .select2 {
    margin-left: -48px;
  }


  .comment input {
    /* Style for "btn копия" */
    width: 242px;
  }
  .input-inline1 {
    margin-right: auto;

  }
  .input-problem2 {
    margin-right: 0 !important;
  }
  .screen2:after {
    width: 0;

  }
  .slick-slider {
    width: 300px;
  }
  .slick-slide {
    margin-right: 0px;
    margin-left: 0px;
  }
  .slider-cont {
    margin-bottom: 92px;
  }
  .enroll .ticket {
    left: 150px;
  }
  .inline {
    display: inline;
  }
  .enroll p {
    margin-left: 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .layout {
    width: 600px;
    margin: 0 auto;
  }
  .close {
    right:15px;
    top: 15px;
  }
  section {
    width: 100%;
  }

  .screen1 {
    position: relative;
    z-index: 100;
  }

  .top-menu {
    position: relative;
  }

  .logo, .menu, .lang-menu {
    float: none;
  }

  .top-menu {

  }

  .burger-menu {
    width: 31px;
    height: 25px;
    position: absolute;
    right: 24px;
    top: 50px;
    z-index: 989999;
  }

  .burger-menu:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .burger-menu span {
    width: 100%;
    display: block;
    height: 3px;
    background: #fff;
    margin-bottom: 8px;
  }

  .burger-menu span:last-child {
    margin: 0;
  }

  .screen1 h2 {
    width: 100%;
    margin: 120px auto 150px;
    font-size: 27px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.27px;
  }

  .screen1 h2 span:after {
    height: 0;
  }

  .screen1 .ticket, .screen1 .pager {
    position: relative;
    margin: auto auto 21px;
    width: 276px;
  }

  .screen1 .pager {
    margin-left: 20px;
    margin-bottom: 150px;
  }

  .logo, .menu, .lang-menu {
    float: none;
    margin-top: 0px;
  }

  .logo {
    margin-left: 26px;
  }

  .top-menu {
    padding-top: 29px;
  }

  .menu {
    margin-left: auto;
    margin-right: auto;

    line-height: 2;
  }

  .lang-menu {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .mobile-menu {
    top: -1000px;
    padding-top: 120px;
    position: absolute;
    background: #03081f;
    width: 600px;
    z-index: 99999;
    padding-bottom: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .fixed {
    position: fixed;
  }

  .logo {
    position: relative;
    z-index: 199999;
  }

  .menu-opened {
    top: 0;
  }

  .lang-menu a {
    margin-left: 30px;

  }

  .menu {
    margin-left: 0px;
    margin-right: 0px;
  }

  .menu a {
    margin-left: auto;
    display: block;
    text-align: center;
  }

  .menu a:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
  }

  .menu a:nth-child(5) {
    margin-left: auto;
    margin-right: auto;
  }

  .menu a:first-of-type, .lang-menu a:first-of-type {
    margin-left: auto;
  }

  .problem {
    width: 600px;
    height: auto;
    margin: 0 auto;
    padding: 41px 26px;
  }

  .problem-block {
    float: none;
    padding-left: 40px;
    padding-right: 40px;
  }

  .problem-block:first-of-type {
    width: 600px;
    margin-bottom: 100px;
  }

  .problem-block h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-align: center;
  }

  .problem-block p {
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.9px;

  }

  .problem-block:nth-child(2) {
    width: 600px;
    margin-left: 0px;

  }

  .screen2 {
    background: url(../img/map.png) -540px 750px no-repeat;
    width: 100%;
    margin: 0 auto;
  }

  .map-block p {
    width: 600px;
  }

  .map-block:first-of-type {
    margin-bottom: 150px;
  }

  .token .shadow-title {
    font-size: 169px
  }

  .token-col {
    float: none;
  }

  .token-block {
    width: 600px
  }

  .screen-diagrams .shadow-title {
    font-size: 71px;
    line-height: 120px;
  }

  .token-diagram1 {
    width: 600px;
  }

  .token-diagram {
    float: none;
  }

  .token-diagram1 .diag-text {
    left: 320px;
  }

  .token-diagram {
    margin-top: 100px;
    margin-bottom: 0;
  }

  .token-diagram:last-child {
    margin-bottom: 50px;
  }

  .token-diagram2 {
    background-size: 105%;
    width: 600px;
  }

  .diag-text {
    font-size: 16px;
  }

  .token-diagram2 .diag-text1 {
    top: 245px;
    left: 22px
  }

  .token-diagram2 .diag-text2 {
    top: 156px;

    left: 30px
  }

  .token-diagram2 .diag-text3 {
    left: 73px;
  }

  .token-diagram2 .diag-text4 {
    left: 330px;
  }

  .token-diagram2 .diag-text5 {
    left: 356px;
    top: 125px;
  }

  .token-diagram2 .diag-text6 {
    left: 493px;
  }

  .token-diagram2 .diag-text7 {
    top: 348px
  }

  .one-diagram .shadow-title {
    line-height: 89.01px;
    font-size: 74px;
  }

  .diagram3 {
    width: 600px;
    height: 614px;
    margin: 13px auto 0px;
    background-size: contain;
  }

  .diagram3 .diag-text {
    font-size: 13px;
  }

  .diagram3 .diag-text1 {
    top: 401px;
    left: 18px;
  }

  .diagram3 .diag-text2 {
    top: 205px;
    left: 105px
  }

  .diagram3 .diag-text3 {
    left: 94px;

    top: 105px;
  }

  .diagram3 .diag-text4 {
    top: 97px;

    left: 357px;
  }

  .diagram3 .diag-text5 {
    left: 512px;

    top: 183px;
  }

  .diagram3 .diag-text6 {
    left: 435px;

    top: 445px;
  }

  .one-diagram {

    background: url(../img/light.png) center -50px no-repeat;

  }

  .cell {
    width: 600px;
  }

  .diagram-desc-block2 .ticket {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .h2-info {
    margin-bottom: 40px;
  }

  .team img, .team p {

    float: none;
  }

  .team-cont img {

    margin-left: 0px;
    margin-top: -12px;
  }

  .team ul {
    position: relative;
    margin-top: 90px;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 500px;
    text-align: center;
  }

  .team .clearfix {
    overflow: visible;
  }

  .team p {
    margin-top: 0;
  }

  .team li a {
    margin: 0 auto;
  }
  .video-img-cont {
    margin: 0px auto 0;
    width: 600px;
  }
  .video-img-cont .video {
    width: 600px;
    height: 340px;
  }
  .roadmap {
    margin-top: 0px;
  }
  .roadmap h2 {
    margin-bottom: 56px;
  }
  .roadmap-tablet {
    padding: 0 140px;
  }

  .roadmap-img {
    width: 189px;
    height: 1086px;
    margin-left: -18px;
    margin-right: auto;
    position: relative;
    /* left: -80px; */
    background: url(../img/roadmap-mob.png) center no-repeat;
    margin-top: 5px;

  }

  .quarter-cont, .roadmap-desc {
    width: 1170px;
    margin: 0 auto;
    position: relative;

  }

  .quarter-cont p, .roadmap-desc p {
    float: none;
    position: absolute;
    margin: auto;

  }

  .quarter-cont p, .roadmap-desc p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.18px;
    margin-bottom: 11px;
  }

  .roadmap-desc p {
    letter-spacing: -1px;
    line-height: 1.725;
  }

  .quarter-cont p:first-of-type {
    top: 200px;
    left: -31px;
  }

  .quarter-cont p:nth-child(2) {
    top: 394px;
    left: 54px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(3) {
    top: 579px;
    left: 55px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(4) {
    margin-top: 768px;
    left: 54px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(5) {
    margin-top: 970px;
    left: 47px;
    margin-left: 0;
  }
  .roadmap-desc p {
    width: 112px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.14px;
    line-height: 1.25;
  }
  .roadmap-desc p:first-of-type {
    width: 134px;
    margin-left: 0px;
    bottom: 885px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(2) {
    width: 120px;
    margin-left: 0px;
    bottom: 598px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(3) {
    width: 106px;
    margin-left: 0;
    bottom: 443px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(4) {
    margin-left: 0;
    width: 123px;
    bottom: 320px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(5) {
    width: 115px;
    margin-left: 0;
    left: 200px;
    bottom: 80px;
  }
  .roadmap .clearfix {
    overflow: visible;
  }
  .roadmap .shadow-title {
    font-size: 119px;
  }
  .people-cont {
    min-height: 500px;
    margin-right: 20px;
  }
  .people-cont:nth-child(3) {
    margin-left: 0px;
  }
  .people-cont:nth-child(2n+2) {
    margin-right: 0;
  }
  .people .shadow-title {
    font-size: 100px;
  }
  .perspective .shadow-title {
    top: -120px;
    font-size: 86px;
    line-height: 124.01px;
  }
.info-icon {
  display: none;
}
  .perspective-img {
    margin-top: 70px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 2111px;
    width: 331px;
    background: url(../img/perspective-mob.png);
  }

  .perspective {
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.9px;

    margin-top: 72px;;
  }



  .perspective-cont-top .perspective-block:first-of-type {
    top: 1145px;
    left: 120px;
    width: 214px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(2) {
    width: 220px;
    left: 120px;
    top: 252px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(3) {
    width: 181px;
    left: 272px;
    top: 1322px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(4) {
    width: 184px;
    top: 1832px;
    left: 259px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(5) {
    width: 179px;
    top: 865px;
    text-align: right;
    left: 276px;

  }

  .perspective-cont-top .perspective-block:nth-child(6) {
    width: 279px;
    top: 633px;
    left: 90px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(7) {
    width: 229px;
    top: 433px;
    left: 240px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(8) {
    width: 190px;
    left: 172px;
    top: 1630px;
    text-align: left;
  }
  .news .shadow-title {
    font-size: 109px;
  }
  .footer-block {
    float: none;

  }

  .footer-block:nth-child(2) {
    margin-left: 0px;
    margin-top: 38px;
  }

  .footer-block:nth-child(3) {
    margin-left: 0px;
    margin-top: 33px;

  }

  .footer-block:nth-child(3) a {
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    margin-left: 40px;
  }

  .footer-block:nth-child(3) a:first-of-type {

  }

  .footer-block:nth-child(3) a:nth-child(2) {
    margin-top: -2px;
  }

  .footer-block:nth-child(3) a:nth-child(3) {
    margin-right: 50px;
    margin-top: -2px;
  }

  .footer-block:nth-child(3) a:nth-child(4) {
    margin-left: -2px;
    margin-top: 0px;
  }

  .footer-block:nth-child(3) a:nth-child(5) {
    margin-top: 5px;
    margin-left: 35px;
  }

.slider {
  width: 600px;
}
.slider-cont {
  margin-bottom: 70px;
}
.news .clearfix {
  overflow: visible;
}
.slider .slide {
  float: none;
  -webkit-box-shadow: none;
  -moz-box-shadow:none;
  box-shadow: none;
}
  .slider .slide {

    margin-left: 12px;
    margin-right: 12px;
  }


}
@media only screen and (min-width: 768px) and (max-width: 980px) {
  .layout {
    width: 768px;
  }

  .menu a {
    margin-left: 0px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.9px;
  }

  .menu a:nth-child(3) {
    margin-left: 0px;
    margin-right: 0px;
  }

  .menu a:nth-child(5) {
    margin-left: 0px;
    margin-right: 0px;
  }

  .top-menu a:hover {
    color: #3782e9;
    text-decoration: underline;
  }

  .menu a:first-of-type, .lang-menu a:first-of-type {
    margin-left: 0;
  }

  .menu {

    margin-left: 0px;
    margin-right: 0px;
  }

  .top-menu {
    position: relative;
  }

  .logo, .menu, .lang-menu {
    float: none;
  }

  .top-menu {

  }

  .burger-menu {
    width: 31px;
    height: 25px;
    position: absolute;
    right: 24px;
    top: 50px;
    z-index: 989999;
  }

  .burger-menu:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  .burger-menu span {
    width: 100%;
    display: block;
    height: 3px;
    background: #fff;
    margin-bottom: 8px;
  }

  .burger-menu span:last-child {
    margin: 0;
  }

  .clearfix {
    overflow: visible;
  }

  .screen1 h2 {
    width: 768px;
    margin: 206px auto 151px;
    font-size: 45px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0.27px;
  }

  .screen1 .ticket, .screen1 .pager {
    position: relative;
    margin: auto auto 21px;
    width: 276px;
  }

  .screen1 .pager {
    margin-left: 20px;
    margin-bottom: 150px;
  }

  .screen1 .pager {

    margin-bottom: 100px;
  }

  .logo, .menu, .lang-menu {
    float: none;
    margin-top: 0px;
  }

  .lang-menu {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .mobile-menu {
    top: -1000px;
    padding-top: 120px;
    position: absolute;
    background: #03081f;
    width: 100%;
    z-index: 99999;
    padding-bottom: 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  .menu a {
    line-height: 2;
  }

  .fixed {
    position: fixed;
  }

  .logo {
    position: relative;
    z-index: 199999;
  }

  .menu-opened {
    top: 0;
  }

  .lang-menu a {
    margin-left: 30px;

  }

  .menu {
    margin-left: 0px;
    margin-right: 0px;
  }

  .menu a {
    margin-left: auto;
    display: block;
    text-align: center;
  }

  .menu a:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
  }

  .menu a:nth-child(5) {
    margin-left: auto;
    margin-right: auto;
  }

  .menu a:first-of-type, .lang-menu a:first-of-type {
    margin-left: auto;
  }

  .screen2 {
    width: 768px;
  }

  .logo {
  }

  .screen1 {

  }

  .top-menu {

    padding-top: 29px;
  }

  .problem-block:first-of-type {
    width: 300px;
  }
  .problem {
    padding: 68px 30px 0 40px;
  }
  .problem-block:nth-child(2) {
    width: 300px;
    margin-left: 100px;
  }

  .map-block p {
    width: 768px;
  }

  .map-bg {
    margin-top: 115px;
  }

  .info-icon {
    display: none;
  }

  .token-col1 {
    margin-right: 0;
  }

  .token-col {

    float: none;
  }

  .token-block {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .sheme {
    margin: 0 auto;
  }

  .screen-diagrams .shadow-title {
    font-size: 91px;
    line-height: 110.01px;
  }

  .token-diagram1 {
    margin-right: auto;
    margin-left: auto;

  }

  .token-diagram {
    float: none;
  }

  .token-diagram1 h2 {

    margin-left: 0px;
  }

  .one-diagram .shadow-title {
    line-height: 89.01px;

  }

  .diagram3 {
    width: 768px;
    background-size: contain;
  }
  .screen2::after {
    width: auto;
  }
  .diag-text {

    font-size: 16px;
  }
  .diagram3 .diag-text1 {

    top: 430px;
    left: 23px;
  }
  .diagram3 .diag-text2 {

    top: 180px;
    left: 134px;
  }
  .diagram3 .diag-text3 {

    left: 120px;
    top: 50px;

  }
  .diagram3 .diag-text4 {

    top: 40px;
    left: 459px;
  }
  .diagram3 .diag-text5 {

    left: 660px;
    top: 150px;

  }
  .diagram3 .diag-text6 {

    left: 562px;
    top: 487px;

  }
  .cell {

    width: 768px;
  }
  .h2-info {
    margin-bottom: 50px;
  }
  .diagram-desc-block2 .ticket {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .video-img-cont, .video {
    width: 768px;
  }

  .roadmap {
    margin-top: 0px;
  }
  .roadmap h2 {
    margin-bottom: 56px;
  }
  .roadmap-tablet {
    padding: 0 220px;
  }

  .roadmap-img {
    width: 189px;
    height: 1086px;
    margin-left: -18px;
    margin-right: auto;
    position: relative;
    /* left: -80px; */
    background: url(../img/roadmap-mob.png) center no-repeat;
    margin-top: 5px;

  }

  .quarter-cont, .roadmap-desc {
    width: 1170px;
    margin: 0 auto;
    position: relative;

  }

  .quarter-cont p, .roadmap-desc p {
    float: none;
    position: absolute;
    margin: auto;

  }

  .quarter-cont p, .roadmap-desc p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.18px;
    margin-bottom: 11px;
  }

  .roadmap-desc p {
    letter-spacing: -1px;
    line-height: 1.725;
  }

  .quarter-cont p:first-of-type {
    top: 200px;
    left: -31px;
  }

  .quarter-cont p:nth-child(2) {
    top: 394px;
    left: 54px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(3) {
    top: 579px;
    left: 55px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(4) {
    margin-top: 768px;
    left: 54px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(5) {
    margin-top: 970px;
    left: 47px;
    margin-left: 0;
  }
  .roadmap-desc p {
    width: 112px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.14px;
    line-height: 1.25;
  }
  .roadmap-desc p:first-of-type {
    width: 134px;
    margin-left: 0px;
    bottom: 885px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(2) {
    width: 120px;
    margin-left: 0px;
    bottom: 598px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(3) {
    width: 106px;
    margin-left: 0;
    bottom: 443px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(4) {
    margin-left: 0;
    width: 123px;
    bottom: 320px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(5) {
    width: 115px;
    margin-left: 0;
    left: 200px;
    bottom: 80px;
  }
  .roadmap .clearfix {
    overflow: visible;
  }
  .roadmap .shadow-title {
    font-size: 119px;
  }
  .people-cont {
    min-height: 500px;
    margin-right: 20px;
  }
  .people-cont:nth-child(3) {
    margin-left: 0px;
  }
  .people-cont:nth-child(2n+2) {
    margin-right: 0;
  }
  .people .shadow-title {
    font-size: 100px;
  }
  .people-big-cont {

    width: 610px;
    margin: 0 auto;
  }

  .perspective-img {
    margin-top: 70px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 2111px;
    width: 331px;
    background: url(../img/perspective-mob.png);
  }

  .perspective {
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.9px;

    margin-top: 72px;;
  }

  .perspective .shadow-title {
    font-size: 108px;
  }

  .perspective-cont-top .perspective-block:first-of-type {
    top: 1145px;
    left: 220px;
    width: 214px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(2) {
    width: 220px;
    left: 200px;
    top: 252px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(3) {
    width: 181px;
    left: 362px;
    top: 1322px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(4) {
    width: 184px;
    top: 1832px;
    left: 349px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(5) {
    width: 179px;
    top: 865px;
    text-align: right;
    left: 346px;

  }

  .perspective-cont-top .perspective-block:nth-child(6) {
    width: 279px;
    top: 653px;
    left: 170px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(7) {
    width: 229px;
    top: 433px;
    left: 320px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(8) {
    width: 190px;
    left: 262px;
    top: 1630px;
    text-align: left;
  }

  .slider {
    width: 600px;
  }
  .slider-cont {
    margin-bottom: 70px;
  }
  .news .clearfix {
    overflow: visible;
  }
  .slider .slide {
    float: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow: none;
  }
  .slider .slide {

    margin-left: 12px;
    margin-right: 12px;
  }
  .news .shadow-title {
    font-size: 109px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1170px) {
  .layout {
    width: 980px;
  }

  .menu {
    margin-left: 30px;
    margin-right: 40px;
  }

  .screen1 h2 {

    font-size: 44px;
  }

  .problem {

    width: 980px;
  }

  .screen2 {

    width: 980px;
  }

  .problem-block:first-of-type {

    width: 390px;

  }

  .problem-block:nth-child(2) {
    margin-left: 46px;
  }

  .map-block p {

    width: 980px;
  }

  .screen2::after {
    width: 980px;
  }

  .token-col1 {
    margin-right: 0;
  }

  .token-col {
    float: none;
  }

  .token-block, .sheme {
    margin-left: auto;
    margin-right: auto;
  }

  .token-diagram1, .token-diagram2 {
    float: none;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .token-diagram2 h2 {

    margin-left: 0px;

  }

  .one-diagram .shadow-title {

    font-size: 64px;
  }

  .diagram-desc-block1 .shadow-title, .diagram-desc-block2 .shadow-title {
    font-size: 71px;
  }

  .cell {
    width: 980px;
  }

  .diagram-desc-block2 .ticket {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .team .clearfix {
    overflow: visible;
  }

  .video-img-cont {
    width: 980px;
  }

  .roadmap-tablet {
    margin-left: -100px;
  }

  .roadmap {
    margin-top: 0px;
  }

  .roadmap h2 {
    margin-bottom: 56px;
  }

  .roadmap-tablet {
    padding: 0 420px;
  }

  .roadmap-img {
    width: 189px;
    height: 1086px;
    margin-left: -18px;
    margin-right: auto;
    position: relative;
    /* left: -80px; */
    background: url(../img/roadmap-mob.png) center no-repeat;
    margin-top: 5px;

  }

  .people .shadow-title {
    font-size: 169px;
  }

  .quarter-cont, .roadmap-desc {
    width: 1170px;
    margin: 0 auto;
    position: relative;

  }

  .quarter-cont p, .roadmap-desc p {
    float: none;
    position: absolute;
    margin: auto;

  }

  .quarter-cont p, .roadmap-desc p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.18px;
    margin-bottom: 11px;
  }

  .roadmap-desc p {
    letter-spacing: -1px;
    line-height: 1.725;
  }

  .quarter-cont p:first-of-type {
    top: 200px;
    left: -31px;
  }

  .quarter-cont p:nth-child(2) {
    top: 394px;
    left: 54px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(3) {
    top: 579px;
    left: 55px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(4) {
    margin-top: 768px;
    left: 54px;
    margin-left: 0;
  }

  .quarter-cont p:nth-child(5) {
    margin-top: 970px;
    left: 47px;
    margin-left: 0;
  }

  .roadmap-desc p {
    width: 112px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.14px;
    line-height: 1.25;
  }

  .roadmap-desc p:first-of-type {
    width: 134px;
    margin-left: 0px;
    bottom: 885px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(2) {
    width: 120px;
    margin-left: 0px;
    bottom: 598px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(3) {
    width: 106px;
    margin-left: 0;
    bottom: 443px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(4) {
    margin-left: 0;
    width: 123px;
    bottom: 320px;
    left: 200px;
  }

  .roadmap-desc p:nth-child(5) {
    width: 115px;
    margin-left: 0;
    left: 200px;
    bottom: 80px;
  }

  .roadmap .clearfix {
    overflow: visible;
  }

  .roadmap .shadow-title {
    font-size: 119px;
  }

  .people-cont:first-of-type {

    width: 265px;
    margin-left: 70px;
  }

  .perspective-img {
    margin-top: 70px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 2111px;
    width: 331px;
    background: url(../img/perspective-mob.png);
  }

  .perspective {
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0.9px;

    margin-top: 72px;;
  }

  .perspective .shadow-title {
    font-size: 108px;
  }

  .perspective-cont-top .perspective-block:first-of-type {
    top: 1145px;
    left: 340px;
    width: 214px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(2) {
    width: 220px;
    left: 330px;
    top: 252px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(3) {
    width: 181px;
    left: 462px;
    top: 1322px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(4) {
    width: 184px;
    top: 1832px;
    left: 449px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(5) {
    width: 179px;
    top: 865px;
    text-align: right;
    left: 455px;

  }

  .perspective-cont-top .perspective-block:nth-child(6) {
    width: 279px;
    top: 653px;
    left: 280px;
    text-align: left;
  }

  .perspective-cont-top .perspective-block:nth-child(7) {
    width: 229px;
    top: 433px;
    left: 420px;
    text-align: right;
  }

  .perspective-cont-top .perspective-block:nth-child(8) {
    width: 190px;
    left: 362px;
    top: 1630px;
    text-align: left;
  }
  .slider-cont {
    width: 980px;
  }
  .news .clearfix {
    overflow: visible;
  }

  .slider {
    width: 980px;
    margin-bottom: 100px;
  }
  .slider-cont {
    margin-bottom: 100px;
  }
  .slider .slide {
    -webkit-box-shadow: none;

    -moz-box-shadow: none;

    box-shadow: none;
  }
}
@media only screen and (max-width: 1160px) {
  .slider .slide {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow: none;
  }

}
@media only screen and (min-width: 1170px) {
  .slider .slide:first-of-type, .slider .slide:nth-child(5n+5) {
    margin-left: 0;
  }
}